<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include ../common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include ../common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active ">
                <img class="style-100" src="thumbnail/Baron.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="mt-5">
            <h2 class="text-main-blog">LEAGUE OF LOEGEND : Baron Nashor</h2>
            <p>by admin | Mar 21, 2019</p>
        </div>
        <div class="blogs-day p-3">
            <span class="calander"><img style="width: 1.6%"
                                        src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/54434306_1471078356356325_5747840039430127616_n.png?_nc_cat=103&_nc_oc=AQlbCiMRAn9vGNddduyWx3LWLeRlgc5_-YuyfwFHwecRnGit7Vp7zQxZ8ieHaXDBMYU&_nc_ht=scontent.fhan2-1.fna&oh=e8355f8a910ab9018108c92983b6a17f&oe=5D505F71">
            <span class="ml-3 text-today">Mar 21, 2019 </span>
                </span>
            <span class="Folder"><img class="ml-3 text-today" style="width: 1.6%"
                                      src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/54516585_603255546812826_1757987950282407936_n.png?_nc_cat=104&_nc_oc=AQkFvWyFQjoxJJKL3vKd5lHO8aWRGOig8O0mx_3eWnluEsvViJw9dYDG2MiOrPzeIG0&_nc_ht=scontent.fhan2-4.fna&oh=6d0aadfd68072849668cc4a762e32e9a&oe=5D162276">
                <span class="ml-3"><span class="text-danger">LEAGUE OF LOEGEND</span>,<span class="text-danger">Baron Nashor</span></span>
            </span>

            <div class=" mt-1 mb-3 ">
                <span class="text-main-icon">Baron Nashor is always a goal that anyone craves. But to finish it off is not always easy.</span>
                <p class="mt-3">The League of Legends game community is certainly familiar to Baron Nashor but there are
                    a few players who do not know it. Do you know Baron well? If you are confident that you have enough
                    knowledge, check your knowledge with the article below. If you do not know about Baron, we will help
                    you better understand it.</p>

                <div class="mb-3">
                    <img class="style-video-blogs" src="thumbnail/baron-nashor-from-league-of-legends.jpg">
                </div>

                <div class="text-main-icon">Baron Nashor</div>
        </div>


                    <div class="row mt-3">
                        <div class="col-lg-8 ">
                            <p>Baron Nashor is a worm that lives in the middle of the river. The position of Baron as
                                well as the Asymmetrical Dragon in the Summoners Rift map. Baron Nashor possesses a huge
                                amount of
                                damage and it will be difficult for anyone who wants to fight it alone. In addition, Baron
                                has
                                excellent recovery ability.</p>
                            <hr>
                            <p> Baron Nashor is a voidborn creature residing on Summoner's Rift. This one of a kind creature
                                has a shape and behavior of a river serpent. What differentiates it from a regular serpent
                                is its numerous arachnid appendages, as well as two additional mouths protruding from its
                                head area. The creature has 12 eyes (some of them injured due to past battles), a mouth with
                                sharp teeth that can gape open wide for larger prey, and horned like crests on the top of
                                the head. The colours of the creatures exoskeleton go from dark purple to light teal. This
                                creature was believed to be deceased for numereous centuries, but due to rescent Void rifts
                                opening on Summoner's Rift it has reemerged again.
                                When finishing, Baron Nashor, each player receives 300 gold and 1400 experience points. In
                                addition, the team that kills Baron Nashor, all surviving players will receive Purple Charms
                                for 4 minutes or until they die.</p>

                        </div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img class="style-100" src="thumbnail/vi-tri-baron.jpg">
                                <p class="text-center mt-2 ml-3">Location of Baron.</p>
                            </div>
                        </div>
                    </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-3">
                    <div class="border-blogs png-lol-bg">
                        <div class="border-blogs ">
                            <img src="thumbnail/bua-tim-baron.jpg">
                            <span class="text-center text-danger ml-5 lol-text-contain">The effect of purple amulets</span>

                        </div>
                        <ul class="mt-4 text-light ml-3 ">
                            <li>Add 40 physical damage / magic power.</li>
                            <li>Restoration of 3% of health every 5 seconds.</li>
                            <li> Restores 1% of maximum energy every 5 seconds.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 mt-3">
                    <div class="border-blogs png-lol-bg">
                        <div class="border-blogs text-center">
                            <span class="text-danger ml-1 lol-text-contain">Baron's index</span>
                        </div>
                        <ul class="mt-4 text-light ml-3">
                            <li>Blood: 8800 (+140 blood per minute).</li>
                            <li>Damage: 460.</li>
                            <li> Speed of attack: 0.208.</li>
                            <li>Critical attack ability: 0%.</li>
                            <li>Long range attack: 955.</li>
                            <li>Armor: 120.</li>
                            <li>Magic resistance: 70.</li>
                            <li>Movement speed: 0.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-danger mb-3 mt-3 lol-text-contain">Skills of Baron Nashor</div>
            <div class="border-blogs png-lol-bg">
                <ul class="mt-4 text-light">
                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-1.jpg">Baron is resistant to all
                        control effects. Stun, slow, blind or tied up doesn't work on Baron Nashor.
                    </li>
                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-2.jpg">
                        <p class="text-danger">The Rebellion of the Most High :</p> Baron Nashor deals 70 magic
                        damage and creates an adverse effect on the target. This effect increases the amount of
                        damage a victim must take by 25%, accumulating up to 10 times..
                    </li>
                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-3.jpg">
                        <p class="text-danger">Corrosive Poison :</p> Causes physical damage and creates an adverse
                        effect on the target. This effect reduces the victim's physical damage by 50%, not
                        incremental.
                    </li>
                    <li><p class="text-danger">Poisonous Spray:</p>Throw the victims into the sky and slow them down later.
                    </li>
                    <li><p class="text-danger">Sweeping Strike :</p> Baron's attacks are capable of knocking opponents away
                        from him.
                    </li>
                </ul>
            </div>

            <div class="text-danger mb-3 mt-3 lol-text-contain">Baron's behavior</div>
            <p>Baron Nashor always prioritizes to attack the nearest target, this target usually suffers from 50% damage
                reduction effect. This worm is always very gentle, if no one attacks it, it will just watch the world in
                turmoil. When receiving damage, regardless of who it is, Baron will get angry and attack the nearest man</p>
            <img class="style-100" src="thumbnail/tap-tinh-baron.jpg">
            <p class="mt-3">This explains many very silly questions of players:

                "Why didn't I attack Baron and it hit me?"

                Answer: "You own Fire Armor, it deals damage to Baron".

                "Why did I Move Ancient to the Baron cave and it hit me?"

                Answer: "Ezreal's Ancient Moves has the effect of damaging."

                 

                Before the targets were flung up into the sky by the Poisoning Spell, a layer of green effervescent liquid
                would appear at their feet for two seconds. So players can actively avoid this move. If you watch the video
                of gamers online, you will find that when they solo with Baron, they do not stand still and move, move
                constantly.</p>

            <div class="text-main-icon">When to organize Baron</div>
            <img class="style-100" src="thumbnail/AN-BARON.jpg">
            <p class="mt-3">In big matches, gamers are always sure to play and most teams always eat Baron at the end of the
                game. There are also cases of Baron being killed right from the start. Depending on the game, you can finish
                Baron at different times.
            </p>
            <hr>
            <p>When you want to eat Baron, you and your teammates need to make sure 2 things: your team must have a complete
                vision to defend when the enemy comes to harass; You must make sure the enemy has no view in the Baron cave
                area and around.</p>
            <div class="text-center">
                <img style="width: 80%; height: 80%;" src="thumbnail/baron(1).jpg">
            </div>
            <div class="text-danger mb-3 mt-3 lol-text-contain">The appropriate time for the team to host Baron is:</div>
            <div class="mt-3">- Your team cleans the enemy and all still have plenty of blood, lots of moves. However, you need to consider: eating Baron or breaking pillars, give yourself quick and accurate decisions.</div>
            <div class="mt-3">- The main damage and the enemy's forest walker died. However, the other members of the enemy will definitely try to harass you. You and the team need to make the right decision for this case.</div>
            <div class="mt-3">- The enemy lineup is too low, must return home.</div>
            <div class="mt-3">- When the enemy does not have the necessary sight, the team can also come and finish Baron. This needs to be done quickly to prevent the opponent from realizing it.</div>
            <div class="text-main-icon mt-3">10 INSANE Baron Steals Of All Time | League Of Legends Montage</div>
            <div class="container ">
                <video  class="style-video-blogs" controls>
                    <source src="video/LOL-BARON.mp4" >
                </video>
            </div>
        </div>

        <div class="mt-5">
            <h2 class="text-main-blog">SHARE YOUR THOUGHTS</h2>
        </div>

            <form class="form-input mb-3 mt-5">
                <div class="comment mb-3">
                    <p class="text-secondary">COMMENT</p>
                    <textarea class="pb-2 comment"></textarea>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-com mb-3">
                            <div class="row mt-3">
                                <div class="col-lg-4"><p class="ml-3 text-secondary">NAME*</p></div>
                                <div class="col-lg-8"> <input  id="lname" name="lastname" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-com mb-3">
                            <div class="row mt-3">
                                <div class="col-lg-4"><p class="ml-3 text-secondary">EMAIL*</p></div>
                                <div class="col-lg-8"> <input type="email" id="lname" name="lastname" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-com mb-3">
                            <div class="row mt-3">
                                <div class="col-lg-4"><p class="ml-3 text-secondary">PHONE*</p></div>
                                <div class="col-lg-8"> <input  id="lname" name="lastname" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2 "><button type="button" class="btn btn-danger btn-comment">COMMENT</button></div>
                </div>

            </form>
    </div>


</div>

<% include ../common/footer %>
</body>

</html>