<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
 <div class="banner-about">
     <h1 class="text-danger text-center text-about">ABOUT US</h1>
 </div>

<div class="content-about">
    <div class="container">
        <div class="view-content pt-3 pb-3 mt-3 mb-3">
            <p class="text-justify m-5">RYAN Sports Club, an effort has been made to provide a world class facilities
                and
                infrastructure for the promotion of sports and health. During the past time, RYAN
                sports club has emerged as one of the best facilities in the country in the area of
                sports and health and also it is making strides to acquire a formidable presence in
                the international. The club provides the facilities like “Indoor Sports”, Outdoor
                Sports” and “Recreation”.</p>
            <div class="text-center">
                <p><strong>Please contact us for any information you need:</strong></p>
                <p>Hotline: +1800 6868</p>
                <p>Email:eveplus@gmail.com</p>
                <p><a href="" target="_top">Send Mail here</a></p>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>
</body>
</html>