<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/activities.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
<div class="banner-activities">
    <h1 class="text-danger text-center text-banner">ACTIVITIES</h1>
</div>
<div class="content-activities mt-5">
    <div class="container">
        <div class="row">
            <% listActive.forEach(function(Activities){ %>
            <div class="col-sm-6">
                <div class="activies-card">
                    <div class="img-activities">
                        <img src="<%= Activities.image %>">
                    </div>
                    <div class="title-activities">
                        <p><%= Activities.textac %></p>
                    </div>
                </div>
            </div>
                <% }) %>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>

</body>
</html>