<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
<div class="row p-5 m-2">
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="http://lmht.giaidau.vn/upload/share/img/1481713755112Bracket.jpg "
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="http://www.tdtt.gov.vn/DesktopModules/PoliceArticles/Police_ViewThumbImg.aspx?FileID=35406"
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="http://lamdongtv.vn/Uploaded/Users/bientapvien/images/2018/4/bemac_caulong.jpg"
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="https://sieukhuyenmai.online/wp-content/uploads/2016/09/Ashampoo_Snap_2016.09.29_14h34m46s_020_-1.jpg"
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="https://image.thanhnien.vn/665/uploaded/quocviet/2016_09_02/xe%20dap/6_pdfh.jpg"
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3">
        <div class="card">
            <img src="https://cdnmedia.baotintuc.vn/Upload/DMDnZyELa7xUDTdLsa19w/files/2019/02/1502/bong.jpeg"
                 width="100%" height="350px">
            <div class="card-header">
                <p>I’m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times
                    hard
                    to handle. But if you can’t handle me at my worst, then you sure as hell don’t deserve me at my
                    best. ― Marilyn Monroe</p>
                <div class="btn-group">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-5 m-2 ">
    <div class="col-lg-3 mt-2">
        <div class="col-lg-4 mt-3">
                <img src="http://www.xaluan.com/images/news/Image/2014/05/25/35381a0591398a.img.jpg"
                     class="rounded-circle"
                     alt="Cinque Terre" width="130%" height="150px">
        </div>
    </div>
    <div class="col-lg-3 mt-2">
        <div class="col-lg-4 mt-3">
                <img src="https://anh.24h.com.vn/upload/4-2016/images/2016-11-08/1478579794-147851604495438-21.jpg"
                     class="rounded-circle"
                     alt="Cinque Terre" width="130%" height="150px">
        </div>
    </div>
    <div class="col-lg-3 mt-2">
        <div class="col-lg-4 mt-3">
                <img src="https://kenh14cdn.com/2016/hong-nam-1458647343727-0-0-599-599-crop-1458649879073.jpg"
                     class="rounded-circle"
                     alt="Cinque Terre" width="130%" height="150px">
        </div>
    </div>
    <div class="col-lg-3 mt-2">
        <div class="col-lg-4 mt-3">
                <img src="https://nguoinoitieng.tv/images/nnt/0/0/c0.jpg"
                     class="rounded-circle"
                     alt="Cinque Terre" width="130%" height="150px">
        </div>
    </div>
</div>
<% include common/footer %>
</body>
</html>