<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="container mt-5 mb-5" >
    <div class="mt-5 mb-5">
        <h2 class="text-main-icon" style="margin-top: 100px;">BLOGS</h2>
        <p>News and thoughts by us</p>
    </div>
    <div class="container blog-list">
        <div class="row">
                    <div class="border-blogs mb-5">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="hovereffect">
                                    <a href="blog-1">
                                    <img class="img-responsive style-100"
                                         src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/07/f29eecfdba6616acabeef9e2125f5920.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="m-2 p-2 blogs">
                                    <a href="blog-1"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                    <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="border-blogs mb-5">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="hovereffect">
                                <a href="blog-2">
                                    <img class="img-responsive style-100"
                                         src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/20a4081edd3933962a79f0bbae55f00d-1-468x468.jpeg">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="m-2 p-2 blogs">
                                <a href="blog-2"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-blogs mb-5">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hovereffect">
                                <a href="blogs">
                                    <img class="img-responsive style-100"
                                         src="https://genknews.genkcdn.vn/k:2014/baron-1418458392356/lien-minh-huyen-thoai-baron-chinh-thuc-bi-giam-suc-manh.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="m-2 p-2 blogs">
                                <a href="blogs"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-blogs mb-5">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="hovereffect">
                                <a href="blog-3">
                                    <img class="img-responsive style-100"
                                         src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/d3c1fce7ff508243ede20ab419044745-468x468.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="m-2 p-2 blogs">
                                <a href="blog-3"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>But why smiling man her imagine married. Chiefly can man her out believe manners cottage colonel unknown. Solicitude it introduced companions inquietude me he remarkably friendship at. My almost or horses period.…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-blogs mb-5">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="hovereffect">
                                <a href="blog-4">
                                    <img class="img-responsive style-100"
                                         src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/07/f29eecfdba6616acabeef9e2125f5920.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="m-2 p-2 blogs">
                                <a href="blog-4"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    </div>
    </div>

<% include common/footer %>
</body>

</html>