<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">

    <div class="row style-gym-png chess-png-1 ">
        <div class="gym-png-text">
            <div class="gym-text-banner">Play with your soul! Fight till the end!</div>
            <div class="form-group mt-5">
                <a href="SIGNUP"><button type="button" class="btn btn-danger">SIGN UP NOW</button></a>
            </div>
        </div>
    </div>
    <div class="regular-module">
        <div class="row gym-png-2">
            <div class="col-lg-6 ">
                <img class="style-100"
                     src="thumbnail/chess4.png">
            </div>
            <div class="col-lg-6">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain">WHAT IS CHESS</div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">Chess is a two-player strategy board game played on a chessboard, a
                        checkered gameboard with 64 squares arranged in an 8×8 grid. The game is played by millions
                        of people worldwide.
                    </div>
                </div>
            </div>
        </div>


        <div class="row gym-png-3">
            <div class="col-lg-6 ">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain">Playing chess makes you smarter</div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">When playing chess, we must calculate according to logic and emotional
                        judgment. Therefore, to make quick and accurate decisions requires the participation of both
                        hemispheres.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <img class="style-100"
                     src="thumbnail/chess6.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 gym-png-4">
                <img class="style-100"
                     src="thumbnail/chess7.JPG">
            </div>
            <div class="col-lg-6 gym-png-4">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain">Play chess on the RYAN club</div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">
                        <p>Play with over 1 million members</p>
                        <p>Improve with powerful training tools</p>
                        <p>Learn from the world’s best masters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5 color-timetable">
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">TIMETABLE</h2>
                    <p>Calendar week</p>
                </div>

                <div class="container table-time">
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">TUESDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>17:00 — 20:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">THIRDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>18:00 — 21:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">SATURDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">SUNDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>16:00 — 21:00</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">BENEFITS</h2>
                    <p>How many times per week</p>
                </div>
                <div class="container">
                    <div class="row row-tabletime">
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                            </div>
                            <div><span class="text-main-icon">STAY HEALTHY</span></div>
                            <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                            </div>
                            <div><span class="text-main-icon">REDUCE STRESS</span></div>
                            <div><span>If you want to reduce stress, try chess every day. Chess helps prevent stress,
                                    depression and anxiety.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>

</body>

</html>