<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="">
    <img src="https://www.sporter.vn/wp-content/uploads/2017/07/quan-legging-banner-page.jpg" height="250%" width="100%">
</div>
<div class="row p-5 m-2">
    <div class="col-lg-2 mt-2">
        <div class="right col-md-12">
            <div class="m-1">
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="https://nguoinoitieng.tv/images/nnt/94/0/a98i.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="http://kickfitvietnam.com/wp-content/uploads/2016/11/kick-boxing41.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="http://tapchibaohiemxahoi.gov.vn/data/news/Uploads/image/News/Thumbnails/2012/9/Thumbnails12462012014631.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 mt-4">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form">
                                <h3 class="text-center text-info">Feedback Form</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="text-info">Lastname:</label><br>
                                    <input type="text" name="lastname" id="lastname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info">Email:</label><br>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="text-info" for="comment">Feedback Form</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 mt-2">
        <div class="right col-md-12">
            <div class="m-1">
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="https://1.bp.blogspot.com/-fIzi3YH2X30/V7O6OZzKz7I/AAAAAAAABYc/dsQsaLMOuYkj6MKjegfPTRG9k4Gj6jH2ACLcB/s640/1.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="https://anh.24h.com.vn/upload/3-2016/images/2016-09-21/1474456683-caulong1.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="container">
                        <img src="https://www.camnangbenhgut.com/wp-content/uploads/2018/01/benh-gout-co-tap-the-hinh-duoc-khong.jpg"
                             class="rounded-circle"
                             alt="Cinque Terre" width="250" height="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
</body>
</html>