<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/feedback.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="banner-feedback">
    <<h1 CLASS="text-danger text-center text-feedback">FEEDBACK</h1>
</div>
<div class="content-feedback">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-12 pt-2">
                    <h3><STRONG>HOTLINE</STRONG> RECEIVES COMMENTS</h3>
                    <p>Call directly to the nearest area for free advice / advice.</p>
                    <table class="table table-striped">

                        <tbody>
                        <tr>
                            <td>Ha Noi</td>
                            <td class="text-danger "><h5 class="font-weight-bold">1800 6868</h5></td>
                        </tr>
                        <tr>
                            <td>Ho Chi Minh</td>
                            <td class="text-danger "><h5 class="font-weight-bold">1800 1212</h5></td>
                        </tr>
                        <tr>
                            <td>Da Nang</td>
                            <td class="text-danger "><h5 class="font-weight-bold">1800 3434</h5></td>
                        </tr>
                        <tr>
                            <td>Bien Hoa</td>
                            <td class="text-danger "><h5 class="font-weight-bold">1800 9696</h5></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="studios">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-12 col-sm-6 adress-text">
                <h3>Address Studios</h3>
                <p><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                        11 Trang Tien, Hoan Kiem, Ha Noi</a>
                </p>

                <p><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
                        109 Truong Chinh, Tan Binh,  Ho Chi Minh</a>
                </p>
                <p>
                    <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
                        104 Duy Tan, Hai Chau, Da Nang</a></p>
                <p>
                    <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
                        25 Vo Thi Sau, Thong Nhat,  Bien Hoa</a>
                </p>
            </div>
            <div class="col-12 col-sm-6 myframegmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.206634452755!2d105.8541740505383!3d21.024416493233677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abeb8bb06541%3A0x50aa9701f7eb3676!2zMTEgVHLDoG5nIFRp4buBbiwgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552089051834"
                        width="700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>

</body>
</html>