<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="video-module">
    <div class="module-slide">
        <video autoplay="" loop="" muted="">
            <source src="https://cdn.goodlayers.com/infinite/homepages/fitness/wp-content/uploads/sites/4/2017/05/fitness-video-bg.mp4"
                    type="video/mp4">
        </video>
    </div>
    <div class="text text-danger"><h1>FEATURES GALLERY</h1></div>
</div>
<br><br>
<div class="container">
    <H3 class="text-center text-danger">INDOOR SPORTS</H3><br>

    <div class="gallery-indoor">
        <div class="row">
            <div class="col-sm-3">
                <img src="https://gymlocal.vn/wp-content/uploads/20156001_793219677504698_4496054761418056467_n.jpg">
            </div>
            <div class="col-sm-6">
                <img src="https://nova-hill.com/wp-content/uploads/2018/11/tien-ich-du-an-nova-hill-phan-thiet-5.jpg">
            </div>
            <div class="col-sm-3">
                <img src="https://images.foody.vn/res/g65/648233/prof/s576x330/foody-mobile-kjjkjjijijijijiji-jp-657-636265696751019114.jpg"
                     class="mb-4">
                <img src="http://images.cfyc.com.vn/phuc/loi-ich-kickfit4.jpg">
            </div>
            <div class="col-sm-9 mt-2">
                <img src="https://i1.wp.com/blog.wefit.vn/wp-content/uploads/2017/11/kick-fit-anh-dong-tac.jpg">
            </div>
            <div class="col-sm-3 mt-2">
                <img src="https://saovietphat.vn/wp-content/uploads/2018/07/bo-3-nu-hoang-phong-gym-noi-tieng-boi-so-huu-than-hinh-nong-bong-c363f88e.jpg">
            </div>
        </div>
    </div>
    <br><br>
    <H3 class="text-center text-danger">OUTDOOR SPORTS</H3><br>

    <div class="gallery-outdoor">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/2/2019/02/Indoor_Smart_turbo_training_for_winter_by_Chris_Catchpole_41-630x420.jpg">
            </div>
            <div class="col-sm-6">
                <img src="http://channel.mediacdn.vn//thumb_w/640/prupload/164/2016/09/img20160906224911419.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="https://aodp.net/@dmin/js/ckfinder/userfiles/images/IMGM7912-3328-1440933800.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="https://image.redbull.com/rbcom/010/2015-05-04/1331720977298_3/0012/0/382/0/1713/1999/1500/1/detroit-skateboarding.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="https://image.redbull.com/rbcom/052/2018-09-26/aee23a7a-a124-4cd3-ba71-d72da1280b1a/0012/0/0/0/2000/3000/800/1/ben-raybourn-mute-in-encinitas-dave-swift.jpg">
            </div>
        </div>
    </div><br><br>
    <H3 class="text-center text-danger">RECREATION</H3><br>

    <div class="gallery-recreation">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://congly.vn/data/news/2018/10/6/78/viet-nam-san-bang-ky-luc-dung-thu-7-o-olympiad-co-vua-hinh-anh01538793207946572439.jpg" CLASS="mb-4">
                <img src="https://hellobacsi.com/wp-content/uploads/2017/12/loi-ich-cua-choi-co-vua-e1512534376337.jpg">
            </div>
            <div class="col-sm-8">
                <img src="https://phongnet.com/wp-content/uploads/2016/12/dia-chi-quan-net-game-hom.jpg">
            </div>
        </div>
    </div><br>
</div>
<% include common/footer %>
</body>
</html>