<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('http://fitnessgym.krucialthemes.com/demo1/wp-content/uploads/revslider/home-slider-blur/revslide-1.jpg')">
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5" >
        <div class="text-center mt-5 mb-5">
            <h2 class="text-main-icon">GYM CLASSES</h2>
            <p>Be part of our awesome community, and transform your body.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="WEIGHT-LIFTING">
                <div class="style-class-image class-image-1">
                        <h2 class="class-text-name">WEIGHT LIFTING</h2>
                </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="Kettlebell">
                <div class="style-class-image class-image-2">
                    <h2 class="class-text-name">KETTLEBELL POWER</h2>
                </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="Pilates">
                <div class="style-class-image class-image-3">
                    <h2 class="class-text-name">PILATES</h2>
                </div>
                </a>
            </div>
        </div>

    </div>


    <div class="container mt-5 color-timetable">
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">TIMETABLE</h2>
                    <p>How many times per week</p>
                </div>

                <div class="container table-time">
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">BENEFITS</h2>
                    <p>How many times per week</p>
                </div>
                <div class="container">
                    <div class="row row-tabletime">
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                            </div>
                            <div><span class="text-main-icon">MONDAY</span></div>
                            <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                            </div>
                            <div><span class="text-main-icon">MONDAY</span></div>
                            <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="row color-timetable">
            <div class="col-lg-3 text-center">
                <div CLASS="p-5">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/55593304_265939214288821_5841655714451292160_n.png?_nc_cat=103&_nc_oc=AQmtKINOSKyWF7rEe-2nybXXOkD6y5ugZcihOMvhD9Y7jIv_cdVXnZ4dBIAHJXfsEa4&_nc_ht=scontent.fhan2-1.fna&oh=ccfca80fcac1eafeaebda90ce53e8bc5&oe=5D0E9411">
                    <div class="mt-3 text-danger">MEMBER +</div>
                    <div class="mt-1 text-danger ml-3">756</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div CLASS="p-5">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/55593304_265939214288821_5841655714451292160_n.png?_nc_cat=103&_nc_oc=AQmtKINOSKyWF7rEe-2nybXXOkD6y5ugZcihOMvhD9Y7jIv_cdVXnZ4dBIAHJXfsEa4&_nc_ht=scontent.fhan2-1.fna&oh=ccfca80fcac1eafeaebda90ce53e8bc5&oe=5D0E9411">
                    <div class="mt-3 text-danger">MEMBER +</div>
                    <div class="mt-1 text-danger ml-3">756</div>
                </div>
            </div><div class="col-lg-3">
                <div CLASS="p-5">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/55593304_265939214288821_5841655714451292160_n.png?_nc_cat=103&_nc_oc=AQmtKINOSKyWF7rEe-2nybXXOkD6y5ugZcihOMvhD9Y7jIv_cdVXnZ4dBIAHJXfsEa4&_nc_ht=scontent.fhan2-1.fna&oh=ccfca80fcac1eafeaebda90ce53e8bc5&oe=5D0E9411">
                    <div class="mt-3 text-danger">MEMBER +</div>
                    <div class="mt-1 text-danger ml-3">756</div>
                </div>
            </div><div class="col-lg-3">
                <div CLASS="p-5">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/55593304_265939214288821_5841655714451292160_n.png?_nc_cat=103&_nc_oc=AQmtKINOSKyWF7rEe-2nybXXOkD6y5ugZcihOMvhD9Y7jIv_cdVXnZ4dBIAHJXfsEa4&_nc_ht=scontent.fhan2-1.fna&oh=ccfca80fcac1eafeaebda90ce53e8bc5&oe=5D0E9411">
                    <div class="mt-3 text-danger">MEMBER +</div>
                    <div class="mt-1 text-danger ml-3">756</div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container mt-5">
        <div class="mt-5">
            <h2 class="text-main-icon">SUPPLEMENTS</h2>
            <p>What you will need</p>
        </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="color-timetable">
                            <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/ps_aminobuild.png">
                        </div>
                        <div class="container text-center p-3">
                        <div class="text-main-icon ">AMINO BUILD</div>
                        <div class="money ">$35.00</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="color-timetable">
                            <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/ps_iso_zero.png">
                        </div>
                        <div class="container text-center p-3">
                            <div class="text-main-icon ">ISO ZERO</div>
                            <div class="money ">$35.99</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="color-timetable">
                            <img  class="png-sp" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/prd-platinum-bcaa-550x688.png">
                        </div>
                        <div class="container text-center p-3">
                            <div class="text-main-icon ">PLATIUM BCAA</div>
                            <div class="money ">$32.99</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="color-timetable">
                            <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/prd-shatter-sx7-550x688.png">
                        </div>
                        <div class="container text-center p-3">
                            <div class="text-main-icon ">SHATTER</div>
                            <div class="money ">$49.00</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="color-timetable">
                            <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/cs_creacore.png">
                        </div>
                        <div class="container text-center p-3">
                            <div class="text-main-icon ">CREACORE</div>
                            <div class="money ">$41.99</div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="container mt-5 mb-5" >
                    <div class="mt-5 mb-5">
                        <h2 class="text-main-icon">MEET OUR TRAINERS</h2>
                        <p>Be part of the awesome community, with the help of our professional trainers, you are one step closer to success</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="style-hero-image hero-image">
                                <div class="hero-text">
                                    <h2 class="hero-text-name">CURTIS</h2>
                                    <p class="hero-text-class m-2">Weight Lifter</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="style-hero-image hero-image">
                                <div class="hero-text">
                                    <h2 class="hero-text-name">FABIAN</h2>
                                    <p class="hero-text-class m-2">Body Builder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="style-hero-image hero-image">
                                <div class="hero-text">
                                    <h2 class="hero-text-name">CURTIS</h2>
                                    <p class="hero-text-class m-2">Outdoor Trainer</p>
                                </div>
                            </div>
                        </div>

                        </div>
                </div>

                    </div>
</div>
<% include common/footer %>
</body>

</html>