<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div>
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    Glad to see you here !
                </div>
                <div class="banner-sub-heading">
                    Here goes the secondary heading on hero banner
                </div>
                <button type="button" class="btn btn-warning text-dark btn-banner">Get started</button>
            </div>
        </div>
    </div>
    <section id="about">
        <div class="container">
            <div class="text-intro">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </section>

    <div class="main-content">
        <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('http://www.shape5.com/demo/fitness_center/images/iacf1.jpg')">

                </div>
                <div class="carousel-item " style="background-image: url('http://fitness-club.bold-themes.com/main-demo/wp-content/uploads/sites/3/2016/09/bgn-slider-big-2.jpg')">

                </div>
                <div class="carousel-item " style="background-image: url('http://www.shape5.com/demo/fitness_center/images/iacf2.jpg') ">

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="carousel-text">
                <h1>TRANSFORM</h1>
                   <h1> YOUR LIFE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum risus nisi, ut feugiat ex finibus quis.Vivamus ullamcorper sapien ut leo iaculis, et egestas neque maximus. Ut vitae neque nisi. Maecenas commodo turpis a finibus cursus. Sed eu sapien id nisl aliquet semper sit amet sit amet eros. </p>

            </div>
            <div class="carousel-button"><button type="button" class="btn btn-danger">SIGN UP NOW</button></div>
        </div>
        <!--<div class="container mt-5 centered_text">-->
            <!--<h1 class="text-danger text-center">Welcome to RYAN Sport Club</h1><br>-->
            <!--<h3> where our goal is to transform your life into a healthy one. We are equipped with top notch staff and the best equipment to help you along the way!</h3><br><br>-->
            <!--<button type="button" class="btn btn-danger">SIGN UP NOW</button><br><br>-->
        <!--</div>-->
        <!--<div><img src="https://wefit.vn/wp-content/uploads/2018/05/BG-004.jpg" alt="GYM"></div><br>-->
        <!--<div class="container">-->
            <!--<div class="row mt-5 mb-5">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="text-center">-->
                        <!--<div>-->
                            <!--<img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA1.png" alt="">-->
                        <!--</div><div>-->
                            <!--<h3 style="font-weight: bold; font-size: 17px;">EASY BOOKING</h3>-->
                            <!--<p>Booking your training schedule becomes easier than ever before with your smartphone only</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="text-center">-->
                        <!--<div>-->
                            <!--<img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA2.png" alt="">-->
                        <!--</div><div>-->
                            <!--<h3 style="font-weight: bold; font-size: 17px;">VARIOUS ACTIVITIES</h3>-->
                            <!--<p>More than <span style="font-weight: bold; color: #83358b;">30</span> amazing fitness categories are waiting for you to explore</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="text-center">-->
                        <!--<div>-->
                            <!--<img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA4.png" alt="">-->
                        <!--</div><div>-->
                            <!--<h3 style="font-weight: bold; font-size: 17px;">ACTIVE SCHEDULING</h3>-->
                            <!--<p>With more than <span style="font-weight: bold; color: #39b54a;">5000</span> classes, you can you can freely choose a schedule that suit yourself.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div><br>-->
        <!--<div><img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/member-testimonials/bg-popup.jpg" alt="Kickfit" ></div><br>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
            <!--<div class="col-sm-4"><div class="card p-5 bg-primary" style="width:400px">-->
                    <!--<img class="card-img-top rounded-circle" src="https://s1-img.yan.vn//YanNews/2167221/201407/20140707-1038-yur8m.jpg" alt="Card image">-->
                    <!--<div class="card-body">-->
                        <!--<h4 class="card-title">John Doe</h4>-->
                        <!--<p class="card-text">Some example text.</p>-->
                        <!--<a href="#" class="btn btn-danger p-2">CALL NOW</a>-->
                    <!--</div>-->
                <!--</div></div>-->
            <!--<div class="col-sm-4"><div class="card p-5 bg-warning" style="width:400px">-->
                    <!--<img class="card-img-top rounded-circle" src="https://s1-img.yan.vn//YanNews/2167221/201407/20140707-1038-yur8m.jpg" alt="Card image">-->
                    <!--<div class="card-body">-->
                        <!--<h4 class="card-title">John Doe</h4>-->
                        <!--<p class="card-text">Some example text.</p>-->
                        <!--<a href="#" class="btn btn-danger p-2">SIGNUP</a>-->
                    <!--</div>-->
                <!--</div></div>-->
            <!--<div class="col-sm-4 "><div class="card p-5 bg-danger" style="width:400px">-->
                    <!--<img class="card-img-top rounded-circle" src="https://s1-img.yan.vn//YanNews/2167221/201407/20140707-1038-yur8m.jpg" alt="Card image">-->
                    <!--<div class="card-body">-->
                        <!--<h4 class="card-title">John Doe</h4>-->
                        <!--<p class="card-text">Some example text.</p>-->
                        <!--<a href="#" class="btn btn-danger p-2">FIND OUT MORE</a>-->
                    <!--</div>-->
                <!--</div></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br>-->
        <script>
            $(document).ready(function () {
                $(".menu-icon").on("click", function () {
                    $("nav ul").toggleClass("showing");
                });
            });

            // Scrolling Effect

            $(window).on("scroll", function () {
                if ($(window).scrollTop()) {
                    $('nav').addClass('black');
                } else {
                    $('nav').removeClass('black');
                }
            })
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </div>
</div>
<% include common/footer %>
</body>
</html>
