<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-content">
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('http://www.shape5.com/demo/fitness_center/images/iacf1.jpg')">

            </div>
            <div class="carousel-item "
                 style="background-image: url('https://xedapthegioi.vn/wp-content/uploads/2018/12/5-cach-de-cai-thien-viec-di-xe-dap-vao-buoi-sang-1-1238x800.jpg')">

            </div>
            <div class="carousel-item "
                 style="background-image: url('http://www.slate.com/content/dam/slate/blogs/behold/2012/11/13/10.jpg.CROP.article920-large.jpg') ">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="container">
            <div class="carousel-text">
                <h1>TRANSFORM</h1>
                <h1> YOUR LIFE</h1>
                <p>Integrity, for a more beautiful world.
                </p><br><br>
                <div class="carousel-button">
                    <button type="button" class="btn btn-danger">SIGN UP NOW</button>
                </div>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <div class="module_round_box">
                <div class="row top_boxes">
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Hours</h3>
                                <span class="highlight1">Every Day:9am - 9pm</span>
                            </div>
                            <img src="http://giant.vn/wp-content/uploads/2017/11/xe-dap-gia-re.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Hours</h3>
                                <span class="highlight1">Every Day:9am - 9pm</span>
                            </div>
                            <img src="http://veracidadchannel.com/_site/wp-content/uploads/2018/06/how-much-joining-gym-helps-health-2-jpg-1488906648-752x440.jpeg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Hours</h3>
                                <span class="highlight1">Every Day:9am - 9pm</span>
                            </div>
                            <img src="https://fnk.vn/wp-content/uploads/2018/06/kick-fit.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-intro">
                <h1 class="text-danger text-center">Welcome to RYAN Sport Club</h1><br>
                <h3> where our goal is to transform your life into a healthy one. We are equipped with top notch
                    staff and the best equipment to help you along the way!</h3><br><br>
            </div>
            <br><br>
        </div>
    </section>
    <div class="row sport-list">
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="http://vothuat.vn/app/uploads/2016/06/t61.jpeg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>GYM</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="http://www.about-muscle.com/wp-content/uploads/2016/06/boxing-tips-share.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>KICKFIT</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://kenh14cdn.com/2018/5/3/1506155722-rio-152536667275933964124.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>BOXING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://www.chotot.com/kinhnghiem/wp-content/uploads/2015/03/Phan-biet-cac-loai-xe-dap-the-thao-va-cach-chon-mua-phan-2.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>CYCLING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://www.elle.vn/wp-content/uploads/2016/03/31/Chay-bo-1.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>WALKING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://www.longbeachny.gov/vertical/Sites/%7BC3C1054A-3D3A-41B3-8896-814D00B86D2A%7D/uploads/bigstock-Beach-Volleyball-Silhouette-81799844_(1).jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>VOLLAYBALL</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://boyslifeorg.files.wordpress.com/2017/03/chess-1.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>CHESS</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="https://lienminh.garena.vn/images/Lan_h3lpm3/patch%20note%20header.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>League of Legends</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA1.png" alt="">
                    </div>
                    <div>
                        <h3 style="font-weight: bold; font-size: 17px;">EASY BOOKING</h3>
                        <p>Booking your training schedule becomes easier than ever before with your smartphone
                            only</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA2.png" alt="">
                    </div>
                    <div>
                        <h3 style="font-weight: bold; font-size: 17px;">VARIOUS ACTIVITIES</h3>
                        <p>More than <span style="font-weight: bold; color: #83358b;">30</span> amazing fitness
                            categories are waiting for you to explore</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="https://wefit.vn/wp-content/uploads/2018/04/icon-SA4.png" alt="">
                    </div>
                    <div>
                        <h3 style="font-weight: bold; font-size: 17px;">ACTIVE SCHEDULING</h3>
                        <p>With more than <span style="font-weight: bold; color: #39b54a;">5000</span> classes, you
                            can you can freely choose a schedule that suit yourself.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="top-person">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top"
                         src="https://kenh14cdn.com/2018/2/24/5-1519445556974442470199.jpg"
                         alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-danger">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top"
                         src="https://giammoantoan.vn/wp-content/uploads/2018/06/giam-beo-toan-than-sau-sinh-5.jpg"
                         alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-danger te">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top"
                         src="https://alikickfitness.com.vn/wp-content/uploads/2018/05/ts_1.jpg"
                         alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-danger">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <a href="#"><button type="button" class="btn btn-danger">LEARN MORE</button></a>
    </div>
</div>

    <div class="list-famous mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div><div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div><div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div><div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div><div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div>
                <div class="col-6 col-sm-4 text-center mb-5">
                    <img src="https://wefit.vn/wp-content/uploads/2018/05/avatar-testim-07-150x150.png">
                    <h3>Phan Minh Huyền</h3>
                    <p>Huyền Lizzie – Diễn viên</p>
                </div>
            </div>
        </div>
    </div>

    <div class="studios">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 col-sm-6 adress-text">
                    <h3>Address Studios</h3>
                    <p>==>Lầu 5, 65 đại lộ Lê Lợi, P.Bến Nghé, quận 1, TP.HCM
                        THE LANDM</p>
                    <p>==>Lầu 5, 65 đại lộ Lê Lợi, P.Bến Nghé, quận 1, TP.HCM
                        THE LANDM</p>
                    <p>==>Lầu 5, 65 đại lộ Lê Lợi, P.Bến Nghé, quận 1, TP.HCM
                        THE LANDM</p>
                    <p>==>Lầu 5, 65 đại lộ Lê Lợi, P.Bến Nghé, quận 1, TP.HCM
                        THE LANDM</p>
                </div>
                <div class="col-12 col-sm-6 myframegmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.206634452755!2d105.8541740505383!3d21.024416493233677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abeb8bb06541%3A0x50aa9701f7eb3676!2zMTEgVHLDoG5nIFRp4buBbiwgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552089051834"
                            width="700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--https://www.cfyc.com.vn/images_server/themes/celebration/img/club/hcm-club-2.jpg-->
<!--http://fitness-club.bold-themes.com/main-demo/wp-content/uploads/sites/3/2016/09/bgn-slider-big-2.jpg&ndash;&gt;-->
<!--http://www.shape5.com/demo/fitness_center/images/iacf2.jpg-->
<% include common/footer %>
</body>
</html>
