<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div class="LOL-page">
        <div class="row lol-png-1 text-center">
            <div class="lol-png-text lol-text-banner">
                <div>
                    <h3>JOIN THE LEAGUE</h3>
                    <h1 class="text-warning">BECOME A LEGEND</h1>
                </div>
                <div class="form-group mt-5">
                    <a href="SIGNUP">
                        <button type="button" class="btn btn-danger">SIGN UP NOW</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="regular-module">
            <div class="row lol-png-2">
                <div class="col-lg-6 ">
                    <img class="style-100"
                         src="https://cdn.vox-cdn.com/thumbor/bpcaFyqQxDp4IbQyMeek8sUFJMc=/0x0:4095x2398/1200x800/filters:focal(1721x872:2375x1526)/cdn.vox-cdn.com/uploads/chorus_image/image/62261231/KDA_Ahri_Splash_Art_HD_Wallpaper_Background_Official_Art_Artwork_League_of_Legends_lol_1.0.jpg">
                </div>
                <div class="col-lg-6">
                    <div class="gym-png-text-contain">
                        <div class="gym-text-contain"><h1>OUTPLAY, OUTTHINK</h1></div>
                        <hr class="divered"></hr>
                        <div class="gym-text-tall">Whether you're playing <strong>Solo</strong> or
                            <strong>Co-op</strong> with friends, League of Legends
                            is a highly competitive, fast paced action-strategy game designed for those who crave a hard
                            fought victory.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row lol-rise">
                <div class="col-lg-6 lol-rise-1">
                    <h1>RISE THROUGH THE RANKS</h1>
                    <p> Test your skills against players from all over North America by battling your way up the
                        competitive ranked ladder.
                    </p>
                </div>
                <div class="col-lg-6 lol-rise-2">
                    <h1>FREE TO PLAY, NOT PAY TO WIN</h1>
                    <p>This is free to play, not pay to win. Earn champions and loot through victory on the
                        battlefield.</p>
                </div>
            </div>

            <div class="lol-png-3 text-center">
                <h3>CRUSH YOUR ENEMIES</h3>
                <h1 class="text-warning">OWN THE RIFT</h1><br>
                <button type="button" class="btn btn-danger">SIGN UP NOW</button>

            </div>
            <div class="container mt-5 mb-5 color-timetable">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row-tabletime-text">
                            <h2 class="color-main-text">TIMETABLE</h2>
                            <p>Calendar week</p>
                        </div>

                        <div class="container table-time">
                            <div class="row row-tabletime ">
                                <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                                <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                            </div>
                            <div class="row row-tabletime ">
                                <div class="col-lg-6 p-2"><span class="text-today">TUESDAY</span></div>
                                <div class="col-lg-6 p-2 text-time"><span>17:00 — 20:00</span></div>
                            </div>
                            <div class="row row-tabletime ">
                                <div class="col-lg-6 p-2"><span class="text-today">THIRDAY</span></div>
                                <div class="col-lg-6 p-2 text-time"><span>18:00 — 21:00</span></div>
                            </div>
                            <div class="row row-tabletime ">
                                <div class="col-lg-6 p-2"><span class="text-today">SATURDAY</span></div>
                                <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                            </div>
                            <div class="row row-tabletime ">
                                <div class="col-lg-6 p-2"><span class="text-today">SUNDAY</span></div>
                                <div class="col-lg-6 p-2 text-time"><span>16:00 — 21:00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row-tabletime-text">
                            <h2 class="color-main-text">BENEFITS</h2>
                            <p>How many times per week</p>
                        </div>
                        <div class="container">
                            <div class="row row-tabletime">
                                <div class="col-lg-6">
                                    <div><img class="icon"
                                              src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                                    </div>
                                    <div><span class="text-main-icon">STAY HEALTHY</span></div>
                                    <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div><img class="icon"
                                              src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                                    </div>
                                    <div><span class="text-main-icon">REDUCE STRESS</span></div>
                                    <div><span>If you want to reduce stress, try play LOL every day. LOL helps prevent stress,
                                    depression and anxiety.</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>

</body>

</html>