<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('http://fitnessgym.krucialthemes.com/demo1/wp-content/uploads/revslider/home-slider-blur/revslide-1.jpg')">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="ridge">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="color-main-text">ABOUT THIS CLASS</h3>
                        <p>Morbi sem enim, rutrum et euismod varius, egestas eget orci. Sed luctus ex ut ipsum fermentum
                            pellentesque. Phasellus nunc augue, efficitur eget viverra in, semper eu magna. Nulla
                            facilisi. In non
                            diam ac justo auctor venenatis. Sed massa est, cursus non magna a, aliquet scelerisque
                            risus. Donec nibh
                            orci, pulvinar nec est a, eleifend varius lacus.

                            Phasellus tincidunt tellus lorem, a efficitur eros pellentesque vel. Cras condimentum ipsum
                            ut eros
                            lacinia iaculis.

                            Suspendisse hendrerit ullamcorper lectus ut rhoncus. Pellentesque sagittis leo metus,
                            lobortis finibus
                            neque interdum a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus.
                            Vivamus et rutrum massa. Donec fermentum feugiat faucibus. Vivamus nisl est, aliquam egestas
                            gravida
                            vel, hendrerit in nisi. Sed eros diam, dignissim in leo at, dignissim egestas diam. Nulla
                            interdum
                            vulputate ante, ac hendrerit justo pulvinar vitae. Quisque quis massa libero.</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="style-100 imagedropshadow"
                             src="https://s3.envato.com/files/257116349/ML1A2805%20copy.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <h3 class="">WHAT WE CAN OFFER</h3>
            <h2>OUR CLASSES</h2>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <img class="style-100 imagedropshadow"
                     src="https://s3.envato.com/files/257116349/ML1A2805%20copy.jpg">
            </div>
            <div class="col-lg-6">
                <h3 class="color-main-text">KETTLEBELL POWER</h3>
                <p>Morbi sem enim, rutrum et euismod varius, egestas eget orci. Sed luctus ex ut ipsum fermentum
                    pellentesque. Phasellus nunc augue, efficitur eget viverra in, semper eu magna. Nulla facilisi. In
                    non
                    diam ac justo auctor venenatis. Sed massa est, cursus non magna a, aliquet scelerisque risus. Donec
                    nibh
                    orci, pulvinar nec est a, eleifend varius lacus.

                    Phasellus tincidunt tellus lorem, a efficitur eros pellentesque vel. Cras condimentum ipsum ut eros
                    lacinia iaculis.

                    Suspendisse hendrerit ullamcorper lectus ut rhoncus. Pellentesque sagittis leo metus, lobortis
                    finibus
                    neque interdum a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.
                    Vivamus et rutrum massa. Donec fermentum feugiat faucibus. Vivamus nisl est, aliquam egestas gravida
                    vel, hendrerit in nisi. Sed eros diam, dignissim in leo at, dignissim egestas diam. Nulla interdum
                    vulputate ante, ac hendrerit justo pulvinar vitae. Quisque quis massa libero.</p>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <h3 class="color-main-text">WEIGHTLIFTING</h3>
                <p>Morbi sem enim, rutrum et euismod varius, egestas eget orci. Sed luctus ex ut ipsum fermentum
                    pellentesque. Phasellus nunc augue, efficitur eget viverra in, semper eu magna. Nulla facilisi. In
                    non
                    diam ac justo auctor venenatis. Sed massa est, cursus non magna a, aliquet scelerisque risus. Donec
                    nibh
                    orci, pulvinar nec est a, eleifend varius lacus.

                    Phasellus tincidunt tellus lorem, a efficitur eros pellentesque vel. Cras condimentum ipsum ut eros
                    lacinia iaculis.

                    Suspendisse hendrerit ullamcorper lectus ut rhoncus. Pellentesque sagittis leo metus, lobortis
                    finibus
                    neque interdum a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.
                    Vivamus et rutrum massa. Donec fermentum feugiat faucibus. Vivamus nisl est, aliquam egestas gravida
                    vel, hendrerit in nisi. Sed eros diam, dignissim in leo at, dignissim egestas diam. Nulla interdum
                    vulputate ante, ac hendrerit justo pulvinar vitae. Quisque quis massa libero.</p>
            </div>
            <div class="col-lg-6">
                <img class="style-100 imagedropshadow"
                     src="https://s3.envato.com/files/257116349/ML1A2805%20copy.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-5 color-timetable">
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <h3 class="color-main-text">TIMETABLE</h3>
                    <p>How many times per week</p>
                </div>

                <div class="container table-time">
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row-tabletime-text">
                    <h3 class="color-main-text">BENEFITS</h3>
                    <p>How many times per week</p>
                </div>
                <div class="container">
                    <div class="row row-tabletime">
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                            </div>
                            <div><span class="text-main-icon">MONDAY</span></div>
                            <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                            </div>
                            <div><span class="text-main-icon">MONDAY</span></div>
                            <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="mt-5">
            <h2 class="text-danger">SUPPLEMENTS</h2>
            <h4>What you will need</h4>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="color-timetable">
                        <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/ps_aminobuild.png">
                    </div>
                    <div class="container text-center p-3">
                        <div class="text-main-icon ">AMINO BUILD</div>
                        <div class="money ">$35.00</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="color-timetable">
                        <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/ps_iso_zero.png">
                    </div>
                    <div class="container text-center p-3">
                        <div class="text-main-icon ">ISO ZERO</div>
                        <div class="money ">$35.99</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="color-timetable">
                        <img  class="png-sp" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/prd-platinum-bcaa-550x688.png">
                    </div>
                    <div class="container text-center p-3">
                        <div class="text-main-icon ">PLATIUM BCAA</div>
                        <div class="money ">$32.99</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="color-timetable">
                        <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/prd-shatter-sx7-550x688.png">
                    </div>
                    <div class="container text-center p-3">
                        <div class="text-main-icon ">SHATTER</div>
                        <div class="money ">$49.00</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="color-timetable">
                        <img  class="png-sp" src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/cs_creacore.png">
                    </div>
                    <div class="container text-center p-3">
                        <div class="text-main-icon ">CREACORE</div>
                        <div class="money ">$41.99</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<% include common/footer %>
</body>

</html>