<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-content">
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide1-1.jpg')">

            </div>
            <div class="carousel-item"
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide1-1.jpg')">

            </div>
            <div class="carousel-item "
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide2-1.jpg') ">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="container">
            <div class="carousel-text">
                <h1>GO STRONG</h1>
                <p>Yet remarkably appearance get him his projection.</p>
                <p> Diverted endeavor bed peculiar men the not desirous</p>
                </p><br><br>
                <div class="carousel-button">
                    <button type="button" class="btn btn-danger">SIGN UP NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <h2 class="text-main-icon"> Indoor Sports Classes</h2>
        <p>Be part of our awesome community, and transform your body.</p>
    </div>
    <div class="container mt-5">
        <div class="row p-2">
            <div class="col-lg-4 ">
                <div class="hovereffect">
                    <img class="img-responsive style-100"
                         src="https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/dumbbell-press-bench-man-workout-1109.jpg?itok=LJnrgpPv"
                         alt="">
                    <div class="overlay">
                        <h2>Gym Classes</h2>
                        <a class="info" href="Gym">link here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  ">
                <div class="hovereffect">
                    <img class="img-responsive style-100"
                         src="https://akcfitness.com.vn/wp-content/uploads/2016/07/DSC02082-1-768x512.jpg">
                    <div class="overlay">
                        <h2>KickFit Classes</h2>
                        <a class="info" href="KickFit"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="hovereffect">
                    <img class="img-responsive style-100"
                         src="https://cdn.goodlayers.com/infinite/homepages/fitness/wp-content/uploads/sites/4/2016/05/shutterstock_167027126.jpg"
                         alt="">
                    <div class="overlay">
                        <h2>Boxing Classes</h2>
                        <a class="info" href="Boxing">link here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mt-5 text-main-icon">OUR BLOGS</h2>
        <p >Read our blog for science-backed tips, smart workout plans, and the motivation you need to put both of those things into action.</p>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 mt-5">
                <div class="border-blogs">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hovereffect">
                                <img class="img-responsive style-100"
                                     src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/07/f29eecfdba6616acabeef9e2125f5920.jpg">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="m-2 p-2 blogs">
                                <a href="blogs"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="border-blogs">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hovereffect">
                                <img class="img-responsive style-100"
                                     src="https://s3.envato.com/files/188411548/WM2A2590.jpg">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="m-2 p-2">
                                <a href="blogs"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="border-blogs">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hovereffect">
                                <img class="img-responsive style-100"
                                     src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/07/f29eecfdba6616acabeef9e2125f5920.jpg">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="m-2 p-2">
                                <a href="blogs"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="border-blogs">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hovereffect">
                                <img class="img-responsive style-100"
                                     src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/07/f29eecfdba6616acabeef9e2125f5920.jpg">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="m-2 p-2">
                                <a href="blogs"><p class="color-main-text">BREAKFAST: SUNDAE FOR SUNDAY?</p></a>
                                <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container mt-5 mb-5" >
    <div class="mt-5 mb-5">
        <h2 class="text-main-icon">MEET OUR TRAINERS</h2>
        <p>Be part of the awesome community, with the help of our professional trainers, you are one step closer to success</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="trainer">
                <div class="style-hero-image hero-image">
                    <div class="hero-text">
                        <h2 class="hero-text-name">CURTIS</h2>
                        <p class="hero-text-class m-2">Weight Lifter</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="trainer">
                <div class="style-hero-image hero-image-1">
                    <div class="hero-text">
                        <h2 class="hero-text-name">CURTIS</h2>
                        <p class="hero-text-class m-2">Weight Lifter</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="trainer">
                <div class="style-hero-image hero-image">
                    <div class="hero-text">
                        <h2 class="hero-text-name">CURTIS</h2>
                        <p class="hero-text-class m-2">Weight Lifter</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="text-main-icon">PARTNERS</h2>
            <p>Who we love working with,
                and what makes us great.</p>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>
                <div class="col-lg-3"><img class="style-100" src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png"></div>

            </div>
        </div>
    </div>
</div>
</div>



<% include common/footer %>
</body>
</html>