<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('https://ttdemo2.wpengine.com/yogax/wp-content/uploads/sites/4/2017/01/yogax_image_3.jpg')">
            </div>
        </div>
    </div>


    <div class="container mt-5 ">
        <div class="row">
            <div class="col-lg-8">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">BENEFITS</h2>
                    <p>How many times per week</p>
                    <span>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Morbi interdum mollis sapien. Sed ac risus.

Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl. Suspendisse mauris.

Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est</span>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">TIMETABLE</h2>
                    <p>How many times per week</p>
                </div>

                <div class="container table-time">
                    <div class="row  color-timetable-class">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row color-timetable-class ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row color-timetable-class ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row color-timetable-class ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                    <div class="row color-timetable-class ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>10:00 — 12:00</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row row-tabletime">
            <div class="col-lg-4">
                <div><img class="icon"
                          src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                </div>
                <div><span class="text-main-icon">WEIGHT LIFTING</span></div>
                <div><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div><img class="icon"
                          src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                </div>
                <div><span class="text-main-icon">STAY HEALTHY</span></div>
                <div><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div><img class="icon"
                          src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/eat-healthy.png">
                </div>
                <div><span class="text-main-icon">BETTER HEART RATE</span></div>
                <div><p class="text-contain">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<% include common/footer %>
</body>

</html>