<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-content">
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide1-1.jpg')">

            </div>
            <div class="carousel-item"
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide1-1.jpg')">

            </div>
            <div class="carousel-item "
                 style="background-image: url('https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/slide2-1.jpg') ">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="container">
            <div class="carousel-text">
                <h1>GO STRONG</h1>
                <p>Yet remarkably appearance get him his projection.</p>
                <p> Diverted endeavor bed peculiar men the not desirous</p>
                </p><br><br>
                <div class="carousel-button">
                    <button type="button" class="btn btn-danger">SIGN UP NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="Recreation-group">
        <div class="text-center mt-5 text-main">
            <h2 class="text-main-icon">Recreation Classes</h2>
            <p>Be part of our awesome community, and transform your body.</p>
        </div>
        <div class="container mt-5">
            <div class="row p-2">
                <div class="col-lg-6 ">
                    <div class="hovereffect">
                        <img class="img-responsive style-100"
                             src="http://file.vforum.vn/hinh/2018/03/hinh-anh-hinh-nen-lol-lien-minh-huyen-thoai-dep-nhat-2.jpg"
                             alt="">
                        <div class="overlay">
                            <h2>LOL Classes</h2>
                            <a class="info" href="LOL">link here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  ">
                    <div class="hovereffect">
                        <img class="img-responsive style-100"
                             src="https://previews.123rf.com/images/18percentgrey/18percentgrey1007/18percentgrey100700007/7403041-chess-winner-defeats-white-king-abstract-blue-background.jpg">
                        <div class="overlay">
                            <h2>Chess Classes</h2>
                            <a class="info" href="chess"></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="container mt-5 mb-5">
            <div class="mt-5 mb-5 text-main text-center">
                <h2 class="text-main-icon">Top Of Sports Person In Recreation</h2>
                <p>Be part of the awesome community, with the help of our professional trainers, you are one step closer
                    to
                    success</p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
                    <div class="trainner">
                        <div class="box">
                            <img src="thumbnail/lol-1.jpg">
                            <div class="box-content">
                                <h3 class="title ">Faker</h3>
                                <span class="hero-text-class text-light">LOL</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
                    <div class="trainner">
                        <div class="box">
                            <img src="thumbnail/Le_Quang_Liem.jpg">
                            <div class="box-content">
                                <h3 class="title ">Le Quang Liem</h3>
                                <span class="hero-text-class text-light">CHESS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="text-main-icon text-main">Partners</h2>
                    <p>Who we love working with,
                        and what makes us great.</p>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>
                        <div class="col-lg-3"><img class="style-100"
                                                   src="https://demokaliumsites-laborator.netdna-ssl.com/fitness/wp-content/uploads/2016/06/partner3.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer %>
</body>
</html>