<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<<div class="main-contain">
    <div class="row style-gym-png skate-png-1">
        <div class="gym-png-text">
            <div class="gym-text-banner">When you care enough to send the very best</div>
            <div class="form-group mt-5">
                <button type="button" class="btn btn-danger">SIGN UP NOW</button>
            </div>
        </div>
    </div>
    <div class="regular-module">
        <div class="row gym-png-2">
            <div class="col-lg-6 ">
                <img class="style-100"
                     src="thumbnail/skate1.jpg">
            </div>
            <div class="col-lg-6">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain"><h2>WHAT IS SKATEBOARDING</h2></div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">
                        - For enthusiasts who are considered an art, a sport,
                        a hobby or more <br> simply  an interesting means of transportation.
                        <br> This is also an open playground,
                        where you persevere and persistently <br> practice in each technique,
                        which shows your passion, creativity, freedom, <br> liberty of youth..
                    </div>
                </div>
            </div>
        </div>


        <div class="row gym-png-3">
            <div class="col-lg-6 ">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain"><h2>WHY DO YOU CHOOSE SKATEBOARDING</h2></div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">- Basic skateboarding technique consists of steps in order such as: <br>
                        Standing on board,  pushing skateboard, stopping board, turning, <br> skateboard rotation, aerial
                        control ... <br>
                        To grasp basic skateboarding techniques They have to practice for <br> about 5 months continuously.
                        For more difficult techniques such as <br> beautiful swings in the air, it takes about 2-3 years of
                        hard work.

                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <img class="style-100"
                     src="thumbnail/skate3.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 gym-png-4">
                <img class="style-100"
                     src="thumbnail/skate2.jpg">
            </div>
            <div class="col-lg-6 gym-png-4">
                <div class="gym-png-text-contain">
                    <div class="gym-text-contain"><h2>SKATEBOARDING WHAT TO BRING YOU</h2></div>
                    <hr class="divered"></hr>
                    <div class="gym-text-tall">
                        <ul>
                            <li>PASSION</LI>
                            <LI>CREATION</LI>
                            <LI>FREEDOM</LI>
                            <LI>GENEROUS</LI>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5 color-timetable">
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">TIMETABLE</h2>
                    <p>How many times per week</p>
                </div>

                <div class="container table-time">
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>17:00 — 18:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">TUESDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>07:00 — 08:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">WEDNESDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>17:00 — 18:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">FRIDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>07:00 — 08:00</span></div>
                    </div>
                    <div class="row row-tabletime ">
                        <div class="col-lg-6 p-2"><span class="text-today">SATURDAY</span></div>
                        <div class="col-lg-6 p-2 text-time"><span>17:00 — 18:00</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                 <div class="row-tabletime-text">
                    <h2 class="color-main-text">BENEFITS</h2>
                    <p>What can we gain?</p>
                </div>
                <div class="container">
                    <div class="row row-tabletime">
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                            </div>
                            <div><span class="text-main-icon">STRONG</span></div>
                            <div><span>Healthy playground for young people.
                                    Because of the particular nature of adventure,
                                    the personality of this subject, most of the participants are usually men with health and endurance.</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><img class="icon"
                                      src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                            </div>
                            <div><span class="text-main-icon">STYLE</span></div>
                            <div><span>Because skateboarding techniques are complex
                                    , requiring difficult manipulation, over time it is perceived as a fascinating art. Skis are usually oval in shape,
                                    on the board with motifs that show the personality and style of the owner.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer %>
</body>

</html>