<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="img-studios"><img src="https://onnitacademy.imgix.net/2017/03/ChrisCole.jpg"></div>
<div class="container">
    <div class="title-studios text-center mt-5">
        <p>LIST STUDIOS</p>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-sm-3 city-list">
            <div class="wrap">
                <a href="TPHCM">
                    <img src="https://lifestyle.cfyc.com.vn/Images_Server/images/frontend/category/city-1.jpg"
                         class="img-responsive">
                    <div class="mask">
                        <p>TP.HCM</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3 city-list">
            <div class="wrap">
                <a href="HANOI">
                    <img src="https://lifestyle.cfyc.com.vn/Images_Server/images/frontend/category/city-2.jpg"
                         class="img-responsive">
                    <div class="mask">
                        <p>HA NOI</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3 city-list">
            <div class="wrap">
                <a href="DANANG">
                    <img src="https://lifestyle.cfyc.com.vn/Images_Server/images/frontend/category/city-3.jpg"
                         class="img-responsive">
                    <div class="mask">
                        <p>DA NANG</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3 city-list">
            <div class="wrap">
                <a href="BIENHOA">
                    <img src="https://lifestyle.cfyc.com.vn/Images_Server/images/frontend/category/city-5.jpg"
                         class="img-responsive">
                    <div class="mask">
                        <p>BIEN HOA</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
</body>
</html>