<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="style-100" src="thumbnail/baner-tactic.jpg">

            </div>
        </div>
    </div>

    <div class="container mt-5 ">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-center text-main-icon">TRAINING WITH TOP GAMER
                </h2>
                <div class="text-center"><img style="width: 15%;" src="thumbnail/line-red.png"></div>
                <div class="text-center text-main-icon" style="font-size: 20px;">
                    <p>Lose weight and relieve stress, fatigue.</p>
                    <p>Improve health and beauty every day.</p>
                    <div class="form-group mt-5">
                        <button type="button" class="btn text-light" style="background: #d92329;">SIGN UP NOW</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row-tabletime-text">
                    <img class="style-100" src="thumbnail/player-tactic.jpg">
                    <hr>
                </div>

            </div>
        </div>
    </div>
    <div class="container mt-5 ">
        <h2 class="color-main-text pilates text-center">CONTROLS AND SKILLS
        </h2>
        <div class="text-center"><img style="width: 10%;" src="thumbnail/line-red.png"></div>
        <div class="text-center text-black" style="font-size: 20px; ">
            <p>Activates an important endocrine gland of the body, promoting cell production continuously
                thereby helping you recreate a new skin, new body full of vitality.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <img class="style-100" src="thumbnail/LOL-PNG-1.PNG">
                    <hr>
                    <div class="text-center text-main-icon text-dark" style="font-size: 20px;">Gold of soldiers</div>
                    <P class="text-center">A reasonable basis for comparing how well you do in the last hit of soldiers
                        in the road is compared to your opponent. If you have superior stats, it will lead you to earn
                        more resources than your opponent, reach the power threshold earlier and have the advantage both
                        when traveling and the later stages of the game.</P>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <img class="style-100" style="height: 200px;" src="thumbnail/LOL-PNG-2.PNG">
                    <hr>
                    <div class="text-center text-main-icon " style="font-size: 20px;">Control soldiers</div>
                    <P class="text-center">
                        Pushing soldiers is an act of damaging the soldiers to break their balance, making the soldiers
                        move further and squeeze closer to the tower
                    </P>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="row-tabletime-text text-dark">
                    <img class="style-100" src="thumbnail/COMBAT-LOL.jpg">
                    <hr>
                    <div class="text-center text-main-icon" style="font-size: 20px;">Combat and gank team</div>
                    <P class="text-center">In a teamfight, if you don't know who your target is, how can the version be
                        hit? Mostly with assassins, their main goal is to blood or destroy the AD generals with low,
                        volatile blood Within a musical note, create an advantage over fighting people when opening
                        combat.</P>
                </div>
            </div>
        </div>
    </div>
    <a href="blogs">
        <div class="form-group mt-5 text-center">
            <button type="button" class="btn text-light text-main-icon p-2"
                    style="background: #d92329; font-size: 25px; margin-bottom: 15px;">LEARN AND READ OUR BLOGS
            </button>
        </div>
    </a>
    <div class="text-center"><img style="width: 8%;" src="thumbnail/line-red.png"></div>
    <h2 class="color-main-text pilates text-center text-dark">THE BEST CYBER GAMING
    </h2>

    <P class="text-center">The static studio space is designed to harmonize <span class="text-main-icon"
                                                                                  style="color:#d92329; font-size: 20px;">the light, the temperature and the practice floor</span>
        to give you the best pilates experience.</P>
</div>
<div class="style-gym-png" style="height: 480px;">
    <img class="style-100" src="thumbnail/cyber-gaming-1.jpg">
</div>
<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center mt-5">
                <img src="thumbnail/icon-lol-1.png">
            <h2 class="text-center text-main-icon mt-5">Great competition area
            </h2>
            <div class="text-center text-main-icon" style="font-size: 20px;">
                <p>LEVEL UP YOURSELF</p>
            </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="style-100">
                <img class="style-100" src="thumbnail/cyber-gaming-2.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="style-100">
                <img class="style-100" style="height: 400px; " src="thumbnail/cyber-gaming-3.png">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center mt-5">
                <img src="thumbnail/icon-lol-2.png">
                <h2 class="text-center text-main-icon mt-5">Separate streaming room
                </h2>
            </div>
        </div>

    </div>
</div>
<h2 class="color-main-text pilates text-center mt-5 text-dark"> BEST TRAINER
</h2>
<div class="text-center"><img style="width: 8%;" src="thumbnail/line-red.png"></div>
<div class="text-center text-main-icon" style="font-size: 20px;">We look forward to providing the best
    training programs for you
</div>
<div class="row mt-3">
    <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
        <div class="trainner">
            <div class="box">
                <img src="thumbnail/coach-tactic.jpg">
                <div class="box-content">
                    <h3 class="title ">Critano Polo</h3>
                    <span class="hero-text-class text-light">LEAGUE OF LEGEND TRAINER</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
        <div class="trainner">
            <div class="box">
                <img src="thumbnail/coach-tactic-2.jpg">
                <div class="box-content">
                    <h3 class="title ">Paul Swin</h3>
                    <span class="hero-text-class text-light">LEAGUE OF LEGEND TRAINER</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container mt-5 mb-5 color-timetable">
    <div class="row">
        <div class="col-lg-4">
            <div class="row-tabletime-text">
                <h2 class="color-main-text">TIMETABLE</h2>
                <p>Calendar week</p>
            </div>

            <div class="container table-time">
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">TUESDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>17:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">THIRDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>18:00 — 21:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">SATURDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">SUNDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 21:00</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row-tabletime-text">
                <h2 class="color-main-text">BENEFITS</h2>
                <p>How many times per week</p>
            </div>
            <div class="container">
                <div class="row row-tabletime">
                    <div class="col-lg-6 p-2">
                        <div><img class="icon"
                                  src="thumbnail/TEAM-1.png">
                        </div>
                        <div><span class="text-main-icon">TEAM WORK</span></div>
                        <div><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                id est laborum.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 p-2">
                        <div><img class="icon"
                                  src="thumbnail/BRAIN.png">
                        </div>
                        <div><span class="text-main-icon">REACT</span></div>
                        <div><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                id est laborum.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 p-2">
                        <div><img class="icon"
                                  src="thumbnail/THINKING.png">
                        </div>

                        <div><span class="text-main-icon">THINKING</span></div>
                        <div><p class="text-contain">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim
                                id est laborum.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<% include common/footer %>
</body>

</html>