<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('https://s3.envato.com/files/259910145/EE4I9603%20copy.jpg')">
            </div>
        </div>
    </div>


    <div class="container mt-5 ">
        <div class="row">
            <div class="col-lg-8 border-shadow ">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">INTRODUCTION</h2>
                    <p>How many times per week</p>
                    <span>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Morbi interdum mollis sapien. Sed ac risus.

Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl. Suspendisse mauris.

Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est</span>
                </div>

            </div>
            <div class="col-lg-4 border-shadow ">
                <div class="row-tabletime-text">
                    <h2 class="color-main-text">CURTIS</h2>
                    <p>How many times per week</p>
                </div>
                <div class="container pl-5 pb-5 ">
                    <div class="style-hero-image hero-image">
                        <div class="hero-text">
                            <h2 class="hero-text-name">CURTIS</h2>
                            <p class="hero-text-class m-2">Weight Lifter</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <div class="container mt-5 mb-5" >
        <div class="text-center mt-5 mb-5">
            <p>CURTIS</p>
            <h2 class="color-main-text">MY CLASS</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="WEIGHT-LIFTING">
                    <div class="style-class-image class-image-1">
                        <h2 class="class-text-name">WEIGHT LIFTING</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="Kettlebell">
                    <div class="style-class-image class-image-2">
                        <h2 class="class-text-name">KETTLEBELL POWER</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="Pilates">
                    <div class="style-class-image class-image-3">
                        <h2 class="class-text-name">PILATES</h2>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>


</div>
<% include common/footer %>
</body>

</html>