<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="style-100" src="thumbnail/baner-weight.jpg">
            </div>
        </div>
    </div>


    <div class="container mt-5 ">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-center" style="color: black;">TRAINING WITH EXPERT
                </h2>
                <div class="text-center"><img style="width: 15%;" src="thumbnail/line-red.png"></div>
                <div class="text-center text-main-icon" style="font-size: 20px; color: black;">
                    <p>Lose weight and relieve stress, fatigue.</p>
                    <p>Improve health and beauty every day.</p>
                    <div class="form-group mt-5">
                        <button type="button" class="btn text-light" style="background: #d92329;">SIGN UP NOW</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row-tabletime-text">
                    <img class="style-100" src="thumbnail/weight-1.jpg">
                    <hr>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-5 ">
        <h2 class="color-main-text pilates text-center" style="color: black;">BODAY CARE
        </h2>
        <div class="text-center"><img style="width: 10%;" src="thumbnail/line-red.png"></div>
        <div class="text-center text-black" style="font-size: 20px; ">
            <p>Activates an important endocrine gland of the body, promoting cell production continuously
                thereby helping you recreate a new skin, new body full of vitality.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <img class="style-100" src="thumbnail/weight-5.jpg">
                    <hr>
                    <div class="text-center text-main-icon text-dark" style="font-size: 20px;">Barbell Deadlift</div>
                    <P class="text-center">The next higher volume muscle-building program is German Volume Training. This one is quite similar to the 5 x 5 program in that it too is going to call for a higher set number, but it differs in that it takes the rep ranges much higher to ten reps for each set.</P>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="row-tabletime-text">
                    <img class="style-100" style="height: 200px;" src="thumbnail/weight-3.jpg">
                    <hr>
                    <div class="text-center text-main-icon text-dark" style="font-size: 20px;">Bent Over Barbell Row</div>
                    <P class="text-center">For this workout protocol, you are to select one compound exercise for each muscle group and hit it hard with ten sets of ten reps. Once those have been completed, then you can add a few isolation exercises if you wish but bring them down to only 2-3 sets of 10-15 reps.</P>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="row-tabletime-text text-dark">
                    <img class="style-100" src="thumbnail/weight-4.jpg">
                    <hr>
                    <div class="text-center text-main-icon" style="font-size: 20px;">Barbell Squat Instructions</div>
                    <P class="text-center">Begin with the barbell supported on top of the traps. The chest should be up and the head facing forward. Adopt a hip-width stance with the feet turned out as needed.</P>
                </div>
            </div>
        </div>
    </div>
    <a href="blogs">
        <div class="form-group mt-5 text-center">
            <button type="button" class="btn text-light text-main-icon p-2"
                    style="background: #d92329; font-size: 25px; margin-bottom: 15px;">LEARN AND READ OUR BLOGS
            </button>
        </div>
    </a>
    <h2 class="color-main-text pilates text-center text-dark">STUDIO INTERNATIONAL STANDARD
    </h2>
    <div class="text-center"><img style="width: 10%;" src="thumbnail/line-red.png"></div>
    <P class="text-center">The static studio space is designed to harmonize <span class="text-main-icon"
                                                                                  style="color:#d92329; font-size: 20px;">the light, the temperature and the practice floor</span>
        to give you the best pilates experience.</P>
</div>
<div class="style-gym-png" style="height: 390px;">
    <img class="style-100" src="thumbnail/gym-studio.jpg">
</div>

<h2 class="color-main-text pilates text-center mt-5 text-dark"> BEST TRAINER
</h2>
<div class="text-center"><img style="width: 8%;" src="thumbnail/line-red.png"></div>
<div class="text-center text-main-icon" style="font-size: 20px;">We look forward to providing the best
    training programs for you
</div>
<div class="row mt-3">
    <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
        <div class="trainner">
            <div class="box">
                <img src="thumbnail/weight-2.jpg">
                <div class="box-content">
                    <h3 class="title ">Liliana Beets</h3>
                    <span class="hero-text-class text-light">WeightLifting Trainer</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mt-2 mb-2 pl-5 pr-5">
        <div class="trainner">
            <div class="box">
                <img src="thumbnail/trainer-weight.jpg">
                <div class="box-content">
                    <h3 class="title ">Maicon Falcon</h3>
                    <span class="hero-text-class text-light">WeightLifting Trainer</span>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container mt-5 mb-5 color-timetable">
    <div class="row">
        <div class="col-lg-4">
            <div class="row-tabletime-text">
                <h2 class="color-main-text">TIMETABLE</h2>
                <p>Calendar week</p>
            </div>

            <div class="container table-time">
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">MONDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">TUESDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>17:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">THIRDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>18:00 — 21:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">SATURDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 20:00</span></div>
                </div>
                <div class="row row-tabletime ">
                    <div class="col-lg-6 p-2"><span class="text-today">SUNDAY</span></div>
                    <div class="col-lg-6 p-2 text-time"><span>16:00 — 21:00</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row-tabletime-text">
                <h2 class="color-main-text">BENEFITS</h2>
                <p>How many times per week</p>
            </div>
            <div class="container">
                <div class="row row-tabletime">
                    <div class="col-lg-6 p-3">
                        <div><img class="icon"
                                  src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/weight-lifting.png">
                        </div>
                        <div><span class="text-main-icon">WEIGHT LIFTING</span></div>
                        <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 p-3">
                        <div><img class="icon"
                                  src="https://demo.kaliumtheme.com/fitness/wp-content/uploads/2016/06/gym-doctor.png">
                        </div>
                        <div><span class="text-main-icon">STAY HEALTHY</span></div>
                        <div><span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<% include common/footer %>
</body>

</html>