.banner-feedback{
    background-image: url("../thumbnail/feedback.jpg");
    background-size: cover;
    height: 700px;
}
.text-feedback{
    padding-top: 300px;
    font-weight: bold;
}
.content-feedback .row{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    background-color: rgba(214, 224, 226, 0.2);
}