.footer1{
 background-color: #1b3453;
 color: white;

}
.footer1 h2{
	margin: 5px;
	padding: 8px;
	font-size: 25px;
	  font-family: "Helvetica Neue",sans-serif;

}
.footer1 a{
	color: white;
}
.footer1 a:hover{
	color: #d92329;
}

.footer1 p{
	margin: 5px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 18px;
  font-family: "Helvetica Neue",sans-serif;
	color: white;
}
.footer1 h2{margin: 5px;
	padding: 5px;
	border-bottom: 1px solid white;


}
.footer1 .fa-2x{
  margin-right: 20px;
}
/*==========================footer2===========================*/
.footer2{

	background-color: #e6e6e6;
	color: #1b3453;

}
.footer2 p{
	margin: 8px;
	padding: 8px;
	font-size: 16px;
  font-family: "Helvetica Neue",sans-serif;
}

.form-footer{
	border: 1px solid #d92329;
	padding: 15px 30px;
}