.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

/*.indoor-classes{*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
.style-100 {
    width: 100%;
    height: 100%;
}


.ridge {
    border: 10px solid beige;
    border-radius: 10px;
}

.trainer-text {
    color: #d92329;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}

.trainer-name {
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 54px;
}

h2 {
    font-family: Montserrat, sans-serif;
    line-height: 1.0;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000000;
    size: 10px;
}

h3 {
    color: #d92329;
    font-family: 'Signika', sans-serif;
}

.border-blogs {
    border-style: ridge;
}
.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
}
a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
a:hover {
    color: #d92329;
}

.color-main-text {
    color: #d92329;
    size: 30px;
}
.thumnail-number-inside{
    border:1px solid gray;
    padding:100px 50px;

    font-size:30px;
    background-image:url('http://fitnessgym.krucialthemes.com/demo1/wp-content/uploads/revslider/home-slider-blur/revslide2.jpg');
    background-color:#eee;

}
.color-timetable{
  background-color: #eeeeee;
}

.text-time{
    text-align: right;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    color: silver;
}
.text-today {
    color: #1b3453;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;

}
.row-tabletime{
    padding: 3px;
    margin: 10px;
    background-color: white;
}
.row-tabletime-text{
    padding: 3px;
    margin: 20px;
}
.icon{
    width: 80px;
    height: 80px;
    position: relative;
    text-align: left;

}

.text-main-icon{
    color: #1b3453;
    font-size: 30px;
    font-style: italic;
   padding: 2px;
}
.png-sp{
    margin: 70px;
    width: 200px;
    height: 200px;
}
.money{
    color: #d92329;
}


