.carousel{
  position: relative;
}
.carousel-text{
  position: absolute;
  top: 200px;
  margin: 0 205px;
  color: #ffffff;
}
.carousel-button{
  position: absolute;
  top: 400px;
}
.carousel-button .btn{
  padding: 12px 42px;
  margin: 0 205px;
  font-size: 25px;
  border-radius: 30px;
}
.carousel-item {
  margin-top: 65px;
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centered_text .btn{
  padding: 12px 42px;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 30px;
  display: block;
}
@media(max-width: 786px) {
  .carousel-item {
    height: 26vh;
  }
  .carousel-text{
    display: none;
  }
  .carousel-button{
    display: none;
  }

}


