<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include ../common/head %>
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/head-chung.css" rel="stylesheet">
    <link href="../css/Studios.css" rel="stylesheet">
    <link href="../css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include ../common/header %>
<div class="main-contain">
    <div id="carouselExampleIndicators" class="carousel  my-carousel " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active ">
                <img  class="style-100" src="thumbnail/blogs-boxing.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="mt-5">
            <h2 class="text-main-blog">BOXING: Taking a Body Shot in Boxing | Body Conditioning</h2>
            <p>by admin | Mar 2, 2019 </p>
        </div>
        <div class="blogs-day p-3">
            <span class="calander"><img style="width: 1.6%" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/54434306_1471078356356325_5747840039430127616_n.png?_nc_cat=103&_nc_oc=AQlbCiMRAn9vGNddduyWx3LWLeRlgc5_-YuyfwFHwecRnGit7Vp7zQxZ8ieHaXDBMYU&_nc_ht=scontent.fhan2-1.fna&oh=e8355f8a910ab9018108c92983b6a17f&oe=5D505F71">
            <span class="ml-3 text-today">Mar 2, 2019 </span>
                </span>
            <span class="Folder"><img class="ml-3 text-today" style="width: 1.6%" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/54516585_603255546812826_1757987950282407936_n.png?_nc_cat=104&_nc_oc=AQkFvWyFQjoxJJKL3vKd5lHO8aWRGOig8O0mx_3eWnluEsvViJw9dYDG2MiOrPzeIG0&_nc_ht=scontent.fhan2-4.fna&oh=6d0aadfd68072849668cc4a762e32e9a&oe=5D162276">
                <span class="ml-3"><span class="text-danger">BOXING</span>,<span class="text-danger">Body Conditioning</span></span>
            </span>

        </div>
        <!--<div class="container">-->
            <!--<video  class="style-video-blogs" controls>-->
                <!--<source src="video/video-blogs-boxing.mp4" >-->
            <!--</video>-->
        <!--</div>-->
        <p class="m-4">In this video I break down a great way to condition your body to take a body shot in boxing, especially if you are training on your own and don’t have a partner to work body conditioning drills with. Skip to 0:35 of the video</p>

        <div class="mt-5">
            <h2 class="text-main-blog">SHARE YOUR THOUGHTS</h2>
        </div>

        <form class="form-input mb-3 mt-5">
            <div class="comment mb-3">
                <p class="text-secondary">COMMENT</p>
                <textarea class="pb-2 comment"></textarea>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-com mb-3">
                        <div class="row mt-3">
                            <div class="col-lg-4"><p class="ml-3 text-secondary">NAME*</p></div>
                            <div class="col-lg-8"> <input  id="lname" name="lastname" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-com mb-3">
                        <div class="row mt-3">
                            <div class="col-lg-4"><p class="ml-3 text-secondary">EMAIL*</p></div>
                            <div class="col-lg-8"> <input type="email" id="lname" name="lastname" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-com mb-3">
                        <div class="row mt-3">
                            <div class="col-lg-4"><p class="ml-3 text-secondary">PHONE*</p></div>
                            <div class="col-lg-8"> <input  id="lname" name="lastname" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2 "><button type="button" class="btn btn-danger btn-comment">COMMENT</button></div>
            </div>

        </form>
    </div>



</div>

<% include ../common/footer %>
</body>

</html>