<div class="footer">
    <div class="footer1">
        <div class="container-fluid">

            <div class="container ">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>About Us</h2>

                        <div class="form-footer">
                            <h4>SIGN UP FREE</h4>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="SDT" value="" />
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger">SIGN UP NOW</button>
                            </div>
                        </form>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h2>Home</h2>
                        <p>
                            <i class="fa fa-home"></i>    <a href="#"> Home</a><br>
                            <i class="fa fa-user-o"></i>    <a href="#"> About Us</a><br>
                            <i class="fa fa-map-marker"></i>    <a href="#"> Contact Us</a><br>
                            <i class="fa fa-briefcase"></i>    <a href="#"> Services</a><br>
                            <i class="fa fa-question-circle"></i>    <a href="#"> Term & Conditions</a><br><br>
                        </p>
                    </div>
                    <div class="col-sm-4 ">
                        <h2>Contact Us</h2>
                        <p>
                            <i class="fa fa-phone"></i>    <a href="tel:0123456789"> +1800 6868</a><br>
                            <i class="fa fa-envelope"></i>    <a href="mailto:abc@abc.com"> abc@abc.com</a><br>
                            <i class="fa fa-map-marker"></i>     11 Trang Tien,Ha Noi, VietNam
                        </p>
                        <p>
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="clear30"></div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="clear30"></div>
                    <div class="col-sm-12 text-center"><p><strong>copyright © 2019-2020 FPT APTECH</strong></p>
                    </div>
                    <div class="clear30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
