<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="../thumbnail/RYAN-LOGO3.png" alt="logo"></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Studios">Studios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Ativities">Ativities</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Sports
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="IndoorSports">Indoor Sports</a>
                        <a class="dropdown-item" href="OutdoorSports">Outdoor Sports</a>
                        <a class="dropdown-item" href="Recreation">Recreation</a>
                    </div>
                </li>
                <li class="nav-item Suggestion">
                    <a class="nav-link" href="SuggestionComplaints">Suggestion-Complaints</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Feedback">Feedback</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link SignUp" href="SIGNUP">SIGN UP</a>
                </li>
                <!-- Dropdown -->

            </ul>
        </div>
    </div>
</nav>

